.navbar{
    margin-bottom: 15px;
}
.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:focus,.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active{
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    outline: none;
    box-shadow: none;
}
.btn-full-width{
    width: 100%;
    margin-bottom: 10px;
}

.log-box{
    padding: 15px;
    height: 400px;
    overflow-y: auto;
}
.slave-frame{
    display: none;
    width: 100%;
    height:400px;
}
.iFrame-placeholder{
    width:100%;
    height:400px;
    padding: 180px 0;
    text-align: center;
}